*.cache
*.dll
*.exe
*.pdb
# Ignore specific folders (include trailing slash)
bin/debug
obj/debug
obj/Debug/net10.0/
bin/Debug/net10.0/
/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
/obj/Debug/net10.0/ApiEndpoints.json
